<div class=" container">
    <form #myform="ngForm" class="add-product" action="">
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group invalid" [ngClass]="{'invalid':textInputName.invalid && textInputName.touched}">
                                <label for="">Name</label>
                                <input #textInputName="ngModel" required [(ngModel)]="product.data[0].name" class="form-control" type="text" name="txtname" id="">
                                <span *ngIf="textInputName.invalid && textInputName.touched">the name is required</span>
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea [(ngModel)]="product.data[0].description" class="form-control" name="txtDesc" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group invalid">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group">
                    <label for="">Price</label>
                    <input [(ngModel)]="product.price" class="form-control" type="number" name="price" id="">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input ngModel type="radio" value="0" name="radiobutton" id=""><span>On Sale</span></div>
                            <div class="form-group__radio"><input ngmodel type="radio" value="1" name="radiobutton" id=""><span>Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [(ngModel)]="product.discount" class="form-control" type="number" name="discount" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div *ngFor="let payment of paymentstype;let i= index" class="form-group__checkboxs">
                        <div class="form-group__checkbox"><input ngModel type="checkbox" [name]="'check_'+i" [value]="payment.id" id=""><span>{{payment.name}}</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select [(ngModel)]="product.category._id" class="form-control" name="ddl" id="">
                        <option *ngFor="let cat of productcategory" [value]="cat._id">{{cat.name}}</option>
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div *ngFor="let tags of product.tags" class="taged-textbox__tag"><span>{{tags.name}}</span><a #tag (click)="tagremove(tag)" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input #txttag (keyup.enter)="tagadd(txttag)" class="taged-textbox__textbox form-control" type="text" name="" id="">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button (click)="onsubmit(myform)" href="#" class="btn btn--primary" [disabled]="myform.invalid">{{editmode? "Edit" :"Add"}}</button>
                </div>
            </div>
        </div>
    </form>
</div>